.container-fluid #vendor-search {
    height: 90vh;
    background-image: url("../../images/homepageCTA.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.container-fluid #vendor-search::before {
    content: "";
    position: absolute;
    top: 78px;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container-fluid #vendor-search>* {
    position: relative;
    z-index: 2;
}

.container-fluid #vendor-search #title {
    color: white;
    font-size: 70px;
    font-weight: 600;
    width: 70%;
    text-align: center;
    margin-bottom: 10px;
}

.container-fluid #vendor-search #sub-title {
    color: #FF5883;
    font-size: 30px;
    font-weight: 500;
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}

.container-fluid #vendor-search #vendor-filter {
    height: max-content;
    width: 68%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    margin: 0 0 40px 0;
    padding: 25px 0;
}


#find-vendor-btn {
    height: 47.6px;
    width: 100%;
    font-size: 16px;
    background-color: #CB0033;
    color: white;
    font-weight: 500;
}


#location-select {
    padding-left: 45px;
    color: #474747;
    font-weight: 500;
}

#category-select {
    padding-left: 45px;
    color: #474747;
    font-weight: 500;
}

#location-select-section {
    position: relative;
}

#location-icon {
    position: absolute;
    top: 13px;
    left: 15px;
    height: 22px;
    z-index: 2;
}

#categories-container {
    padding: 0 100px;
    background-color: #FFF5ED;
}

#categories-container #category-title {
    font-size: 56px;
    font-weight: 400 !important;
    line-height: 67.2px;
    color: rgb(33, 37, 41);
    text-align: center;
    margin: 0 0 10px 0;
    padding: 15px 0 0 0;
}

.circle-box {
    width: 70% !important;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: #CB0033 4px solid;
}

.col-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#categort-name {
    font-size: 22px;
    font-weight: 450;
}

#category-image-avatar {
    transition: transform 0.3s ease-in-out;
    /* Smooth transition */
}

#category-image-avatar:hover {
    transform: scale(1.1);
    /* Scales the element to 110% of its size */
    cursor: pointer;
}

#featured-vendors-container {
    width: 100%;
    padding: 0 100px;
}

#featured-vendors-container #feature-vendor-title {
    font-size: 3rem;
    font-weight: 400 !important;
}

#featured-vendor-card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: max-content;
}

.learn-more-btn {
    width: 50%;
    background-color: #CB0033;
    color: white;
    font-weight: 500;
    font-size: 16px !important;
}

.learn-more-btn:hover {
    width: 50%;
    background-color: #9f0028;
    color: white;
    font-weight: 500;
    font-size: 16px !important;
}



.vector {
    left: -18px;
    position: absolute;
    top: -12px;
    height: 50%;
    width: 40%;
}

#exclusive-offers-container {
    background-color: rgb(253, 219, 224);
    width: 100%;
    height: max-content;
    padding: 30px 100px;
}

.exclusive-offer-cards {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
    flex-wrap: wrap;
    margin: 30px 0 50px 0;
}

.exclusive-offer-cards .exclusive-card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    width: 400px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    text-align: left;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: max-content;


    h3 {
        font-size: 28px;
        margin: 30px 0 0 0;
        font-weight: 600;
    }

    p {
        font-size: 33px;
        margin: 10px 0 0 0;
        font-weight: 400;
        color: #CB0033;

        span {
            font-size: 45px;
            font-weight: 500;
            text-decoration: underline;
        }
    }


    .features-list {
        /* padding-right: 40px !important; */
        margin: 10px 0 20px 0;

        li {
            font-size: 24px;
        }
    }
}

.exclusive-card:nth-child(2) {
    justify-content: center;
    min-height: calc(100% + 450px);
    /* If compared to siblings */
}

.special-offer-ribbon {
    position: absolute;
    top: -20px;
    right: -10px;
    background: #CB0033;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px 0 10px 0;
}

.group {
    height: 115px;
    position: absolute;
    top: -10px;
    left: -15px;
    width: 140px;
}

.special-offer {
    border: 3px solid #BB9D7B;
}

.discount-line {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.highlight {
    color: #c70039;
    font-size: 28px;
    font-weight: bold;
}

.features-list {
    list-style: disc;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

.learn-btn {
    background-color: #BB9D7B;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: auto;
}

.learn-btn:hover {
    background-color: #846e55;
}

#body {
    position: relative;
    height: 300px;
    min-width: 333px;
}

#exclusive-offer-title {
    font-size: 3rem;
    font-weight: 400 !important;
    text-align: center;
}

#process-container {
    width: 100%;
    background-color: #CB0033;

    #process-title {
        font-weight: 400 !important;
        color: white;
        text-align: center;
        padding: 30px 0;
        font-size: 50px;
    }


    .row {
        padding: 0 100px 20px 100px;
        height: max-content;

        #process-block {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            margin: 0;
            height: max-content;


            .process-1 {
                width: 500px;
                aspect-ratio: 1/1;
                position: relative;



                #icon_no {
                    display: flex;
                    justify-content: space-between;
                    align-items: end;


                    #icon {
                        width: 50px;
                        margin-bottom: 30px;
                        margin-left: 15px;
                    }

                    h1 {
                        font-weight: 600;
                        color: rgba(255, 255, 255, 0.26);
                        font-size: 8rem !important;

                    }

                }

                #title {
                    padding: 0 10px;
                    color: white;
                    font-size: 26px;
                    margin-top: -20px;
                    font-weight: 600;
                }

                #description-container {
                    padding: 0 10px;
                    color: rgba(255, 255, 255, 0.64);
                    font-size: 1.1rem;
                }
            }
        }
    }
}



.footer-link {
    color: rgba(28, 28, 28, 0.7);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-link:hover {
    color: #fff;
}

.social-icon {
    color: #CB0033;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out, color 0.3s;
}

.social-icon:hover {
    color: #f8c146;
    transform: scale(1.2);
}

#reviews-container {
    width: 100%;
    height: max-content;
    padding: 0 100px;
    margin: 20px 0;
}


.dropdown:hover>dropdown-menu {
    display: block;
    margin-top: .125em;
}

@media screen and (max-width:767px) {
    .container-fluid #vendor-search #title {
        color: white;
        font-size: 40px;
        font-weight: 700;
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
    }

    #categories-container {
        padding: 0 10px;
        background-color: #FFF5ED;
    }

    .circle-box {
        width: 80%;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    #categories-container #category-title {
        font-size: 30px;
        line-height: 30px !important;
    }

    #location-select {
        margin: 5px 0 5px 0;
    }

    #category-select {
        margin: 5px 0 5px 0;
    }

    #find-vendor-btn {
        margin: 5px 0 5px 0;
    }

    .container-fluid #vendor-search #vendor-filter {
        height: max-content;
        width: 80%
    }

    .container-fluid #vendor-search #sub-title {
        color: #FF5883;
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    #featured-vendors-container {
        width: 100%;
        padding: 0 10px;
    }

    #featured-vendors-container #feature-vendor-title {
        text-align: center;
        font-size: 2.2rem;
        font-weight: 400 !important;
    }

    #process-container {

        #process-title {
            font-weight: 400 !important;
            color: white;
            text-align: center;
            padding: 30px 0;
            font-size: 40px;
        }


        .row {
            padding: 0 10px;
            height: max-content !important;

            #process-block {
                .process-1 {
                    width: 100% !important;
                    height: max-content !important;
                    aspect-ratio: 0/0;
                }
            }
        }
    }

    #reviews-container {
        width: 100%;
        padding: 0 10px;
        margin: 20px 0;
    }
}