.forgot-password-container {
    min-height: 90vh;
    background: linear-gradient(to right, #f8f9fa, lch(91.97% 12.76 351.32));
    padding: 20px;
}

.forgot-password-card {
    border-radius: 1rem;

    #title {
        color: #272727;
    }

    #sub-title {
        color: #414141;
        margin-bottom: 30px;
    }
}

#reset-button{
    background-color: #CB0033;
    color: #ffffff;   
}

#reset-button:hover {
    background-color: #a8002b;
}