.reset-password-container {
  min-height: 90vh;
  background: linear-gradient(to right, #f3f4f6, #e0f7fa);
  padding: 20px;
}

.reset-password-card {
  border-radius: 1rem;
}

#reset-password-btn{
    background-color: #CB0033;
    color: #ffffff;
}

#reset-password-btn:hover {
    background-color: #a8002b;
}